<%= form_tag sessions_path do %>
  <% if params[:landing_page] %>
    <%= hidden_field_tag :landing_page, params[:landing_page] %>
  <% end %>

  <table border="0">
    <tr class="field">
      <td><%= label_tag :email %></td>
      <td><%= text_field_tag :email, params[:email] %></td>
    </tr>
    <tr class="field">
      <td><%= label_tag :password %></td>
      <td><%= password_field_tag :password, params[:password] %></td>
    </tr>
    <tr class="field">
      <td colspan="2">
        <div style="float: right;"><%= submit_tag "Log in!" %></div>
      </tr>
    </tr>
  </table>
<% end %>
