<tr id="<%= dom_id(@task) %>">
  <input type="hidden" class="achieved" value="<%= @task.achieved_points %>" />
  <input type="hidden" class="quota" value="<%= @task.required_points %>" />
  <td class="task-controls">
    <%= check_box_tag "chart_" + @task.name %>
  </td>
  <td class="task-name"><%= @task.name %> (<span class="achieved"><%=n @task.achieved_points %></span> / <span class="quota"><%=n @task.required_points %></span>)</td>
  <td class="task-bar">
    <%= render :partial => "progress" %>
  </td>
  <td class="task-points">
    <%= points_button(@task, 0.5,  "small") %>
    <%= points_button(@task, 1,    "large") %>
    <%= points_button(@task, -1,   "large") %>
    <%= points_button(@task, -0.5, "small") %>
  </td>
</tr>
