<div id="header">
  <div id="stats-holder">
    Active Quota: <span id="stats" <%= @user.current_quota < 0 ? "class='negative'" : "" %>><%=n @user.current_quota %></span>
  </div>

  <a href="javascript:void(0);" id="toggle-control-panel"><span>Toggle Control Panel</span></a>
</div>

<div id="tasks-container">
  <div id="top-container">
    <div id="schedule">
      <% @date = get_month_and_year %>
      <%= render :partial => "days/schedule" %>
    </div>
    <div id="control-panel">
      <div id="new-task">
        <%= render :partial => "new" %>
      </div>
    </div>
    <div style="clear: both;"></div>
  </div>


  <table id="tasks">
    <tbody>
      <tr id="todays-quota">
        <input type="hidden" class="achieved" value="<%= user.todays_points %>" />
        <input type="hidden" class="quota" value="<%= user.todays_quota %>" />
        <td></td>
        <td class="task-name">Today's Quota</td>
        <td class="task-bar">
          <%= render :partial => "progress" %>
        </td>
        <td></td>
      </tr>
      <% @tasks.each do |task| %>
        <% @task = task %>
        <%= render :partial => "show" %>
      <% end %>
    </tbody>
  </table>

  <div id="bottom-content">
    <div id="days-chart"></div>
    <script type="text/javascript">
      $.chart_data = $.parseJSON('<%=raw user.chart.to_json %>');
      chartDays();
    </script>
  </div>
</div>
