<table id="calendar" class="calendar">
  <thead>
    <tr>
      <th colspan="2">&laquo; <%= date_link(prev_month(@date[:month], @date[:year])) %></th>
      <th colspan="3"><%= month_year(number_to_date(@date[:month], @date[:year])) %></th>
      <th colspan="2"><%= date_link(next_month(@date[:month], @date[:year])) %> &raquo;</th>
    </tr>
    <tr>
      <% week_headings.each do |heading| %>
        <th><%= heading %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% month_viewing_range_in_weeks(@date[:month], @date[:year]).each do |week| %>
      <tr class="week">
        <% week.each do |day| %>
          <% data = get_data_for_day(day) %>
          <td <%= data[:cell] %>>
            <div class="day-heading"><span><%= ordinal(day) %></span><span class="schedule-points"><%= data[:points] %></span></div>
            <div style="clear: both;"></div>
            <div class="schedule-quota">
              <%= data[:quota_input] %>
            </div>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
  <% if eligible_date(@date) %>
    <tfoot>
      <tr>
        <td colspan="7"><%= fill_dates_link(@date) %></td>
      </tr>
    </tfoot>
  <% end %>
</table>
